<div id="start">
<h3>Log In</h3>
<%= form_tag('sessions', method: 'post') do %>
	<%= label_tag(:email) %>
	<%= text_field_tag :email %> 
	<%= label_tag(:password) %> 
	<%= password_field_tag :password %> <br>
	<%= submit_tag "Login" %>

	
<% end %>
<br>	
<br>
<br>
<h2>Dont have an account?</h2>

<h3>Sign Up</h3>
<%= form_for(@user) do |f| %>
	<%= f.label :first_name %>
	<%= f.text_field :fname %> 
	<%= f.label :last_name %>
	<%= f.text_field :lname %> <br>
	<%= f.label :email %>
	<%= f.text_field :email %> <br>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.submit :create %>
<% end %>
</div>
<hr>