<div id="product">
<div id="item">
<h1><%= @product.name %></h1>

<br>
<%= @product.description %>
<br>


<img src="<%= @product.photo %>" alt="">
<br>
<%= number_to_currency(@product.price, :unit => "$") %>
<br>
</div>
<br>
<div id="purchase">
<%= form_tag user_orders_path current_user do %>
    <%= select_tag(:quantity, options_for_select([['', nil],['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8]])) %>
	 <input type="hidden" name="product_id" value="<%= @product.id %>">
	<br>
	<%= submit_tag "Add to Order" %>
<% end %>
<br>
</div>
<hr>
<br>

<%= link_to "Back to Main Shopping", '/products' %>
<br>
<br>
<span class="prev"><%= link_to("< Previous", @product.previous) if @product.previous %></span>
<span class="next"><%= link_to("Next >", @product.next) if @product.next %></span> 
</div>    

   